@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background: #181a2a;
  color: #fff;
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  background: #181a2a;
}

section {
  width: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  background: #23244d;
}
::-webkit-scrollbar-thumb {
  background: #764ba2;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .App {
    padding-top: 60px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
